:root{
    --dark-green: #009688;
    --dark-blue:  #303f9f;
    --light-blue: #3949ab;
    --dark-gray:#546e7a;
    --black:  #151716;
    --white:#F8F9F9;
    --green: #187856;
    --light-gray: #B3B4B4;
}