.nav-item:hover{
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 20px;
    text-align: right;
    color: var(--white);
    background-color: var(--dark-blue);
}

.menu-item{

}